:root{
    --color-principal: #FF5A5F;
    --color-primary-hover: #d64246;
    --color-verde: #04A75B;
    --color-negro: #444A47;
    --color-fondo: #F7F9FD;
    --color-footer: #151515;
}

*,::after, ::before{
    box-sizing: border-box;
}

*{
    padding: 0px;
    margin: 0;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

img{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #ffab0f;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

.no-borders {
    border: none;
}

.no-borders td, .no-borders th {
    border: none;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

select {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}
  
option {
    font-size: 1em;
}


.ok, .available, .notavailable, .notsale {
    padding: 12px 25px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

.ok {
    background-color: var(--color-verde);
    color: white;
}

.ok:hover {
    background-color: #028347;
}

.available {
    background-color: #2196F3;
    color: white;
    padding: 12px 25px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

.available:hover {
    background-color: #085ca1;
}

.notavailable {
    background-color: #f44336;
    color: white;
}

.notavailable:hover {
    background-color: #bd302e;
}

.notsale {
    background-color: #9E9E9E;
    color: white;
}

.notsale:hover {
    background-color: #686767;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin: 15px 0;
    color: #555;
}

p.justify {
    text-align: justify;
}

.container{
    width: 1122px;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 1px){
    .container{
        width: auto;
        max-width: 1122px !important;
    }
}

.uppercase{
    text-transform: uppercase !important;
}

.hm-header{
    position: relative;
    height: 64px;
    background:#fff;
    line-height: 64px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.hm-header .container{
    height: 100%;
}

.header-menu{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hm-logo{
    width: 100px;
}

.hm-menu{
    display: flex;
    position: relative;
}

.hm-menu ul{
    display: flex;
}

.hm-menu ul li a{
    color: var(--color-negro);
    font-size: 20px;
    margin-right: 30px;
    display: inline-block;
}

.hm-menu ul li a:hover{
    color: var(--color-principal);
}

footer{
    background: var(--color-footer);
    padding: 80px 0;
}

footer .foo-row{
    display: flex;
    justify-content: space-between;
}

footer .foo-row .foo-col{
    width: 50%;
}

footer .foo-row .foo-col h2{
    color: #E3E3E3;
    line-height: 40px;
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer .foo-row .foo-col ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .foo-row .foo-col ul li{
    width: 50%;
    margin-bottom: 16px;
}

footer .foo-row .foo-col ul li a{
    color: #E3E3E3;
    font-size: 15px;
}

footer .foo-row .foo-col ul li a:hover{
    color: var(--color-principal);
    text-decoration: underline;
}

.foo-copy{
    background: #000000;
    padding: 40px 0;
}

.foo-copy p{
    text-align: center;
    color: #E3E3E3;
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 800px){
    footer .foo-row{
        flex-direction: column;
    }

    footer .foo-row .foo-col{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    footer .foo-row .foo-col ul{
        display: none;
    }
}
